*{
  
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.icono-menu{
  margin: 1.5% 1.5%;
  position: relative;
  z-index: 10;
}
.icono-menu img{
  vertical-align: top;
  width: 3%;
  cursor: pointer;
}
.cont-menu{
  background-color: rgb(104, 102, 102);
  box-shadow: 2% 0% 5% 2% rgb(66,66,66);
  width: 6%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
}
.active{
  transform:translate(-600px);
}
.opacity{
  
  transition: all .5s ease;
}
.cont-menu ul{
  padding: 90% 0% 20% 0%;
  list-style: none;
}
  
.cont-menu ul li{
  color: white;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 7px;
  cursor: pointer;
}
.cont-menu ul li img{
  width: 100%;
}
.cont-menu ul li:hover{
  background-color: rgb(228, 228,228);
  color: rgb(42,42,42);
} 
#inicio{
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 0%;
}
#proyecto{
  display: none;
}
#proyecto .card{
  margin-top: -3%;
  margin-left: 45%;
}
#conocimiento{
  display: none;
  position: center;
}
#conocimiento .progress{
  margin: 5%;
  margin-left: 10%;
  background-color: white;
}
#conocimiento .progress h6{
  margin-right: 2%;
  background-color: white;
}